<div id="menu">
  <ul>
    <li><a href="#">Trang chủ</a> </li>
    <li>  <a href="#"> Diễn đàn</a> </li>
    <li><a href="#">Tin tức</a>
      <ul class="sub-menu">
        <li><a href="#">WordPress</a> </li>
        <li><a href="#">
            <a href="https://thachpham.com/category/seo" data-wpel-link="internal">SEO</a>
          </a>
        </li>
        <li><a href="#">Hosting</a></li>
      </ul>
    </li>
    <li><a href="#">Hỏi đáp</a> </li>
    <li><a href="#">Liên hệ</a></li>
  </ul>
</div>
  <div class="selec">
      <div id="menu-y">
          <ul>
              <li>  <a href="#">  Chức năng</a></li>
              <li><a href="#">Bảng thông tin</a></li>
              <li> <a href="#"> <span class="fas fa-sitemap"> </span> Chuồng trại </a></li>
              <li><a href="#">Quản lý thức ăn</a></li>
          </ul>
      </div>
        
      <div class="show-content">
        <!-- <app-vat-nuois></app-vat-nuois> -->
          <!-- <app-days></app-days> -->
          <!-- <app-chuongs></app-chuongs>  -->
            <app-trais></app-trais>
      </div>
  </div>




<!-- <router-outlet> </router-outlet> -->
<!-- <app-messages></app-messages> -->